<div class="recipe__listContainer" >
  <p class="recipe__listTitle">
    Have a look at your saved recipes...
</p>
    <ul class="recipe__list" *ngIf='recipes.length > 0'>

        <li class="recipe__card" *ngFor="let recipe of recipes">
          <div class="recipe__cardContent">


          <div class="card-header">
            <h3 class="card-title">
              {{recipe.name}}
            </h3>
          <a href='{{recipe.source}}' target="blank" class="card-link">
              Link to recipe
          </a>
          <p class="card-rating">
            Rating (out of 6):
              {{recipe.rating}}
          </p>
          </div>

                <div style='background-image: url({{recipe.img}});'
                class="recipe__image card-image">
                    <a [routerLink]="['/', recipe.name]" class="recipe__detailsLink">
                    </a>
                </div>
              </div>
            </li>
      </ul>
    <app-modal (addRecipeFromForm)="addRecipeFromForm($event)">
    </app-modal>
</div>
