.recipe{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__listTitle{
       width: 100%;
       padding: var(--spacing-medium) 0px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(33% - var(--spacing-big));
      border: 1px solid var(--cyan-grey);
      margin-bottom: var(--spacing-medium);
      background-color: var(--white);
      border-radius: var(--border-radius);
      box-shadow: 0 6px 8px rgb(0 0 0 / 15%);
      &:not(:nth-child(3)){
        margin-right: var(--spacing-big);
      }
    }
    &__detailsLink{
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }
}
