<form #form="ngForm" (ngSubmit)="handleSubmit(form)">
    <ng-container
        *ngIf="isAddMode; then AddRecipe; else EditRecipe">
    </ng-container>
    <ng-template #AddRecipe>
        <div class="form-group">
            <label for="recipeTitle">
                Recipe Title *
            </label>
            <input id="recipeTitle" type="text" required
            placeholder="Recipe title"
            name="recipeTitle"
            #titleField="ngModel"
            [(ngModel)]="recipe.name"
            appRecipeTitleValidator
            [class.field-error]="form.submitted && titleField.invalid"
            >
            <div *ngIf="form.submitted && titleField.hasError('required')">
                Enter title
            </div>
            <div *ngIf="form.submitted && titleField.hasError('recipeTitleValidator')">
                Title must be unique
            </div>
        </div>
    </ng-template>
    <ng-template #EditRecipe>
        <div class="form-group">
            <label for="recipeTitle">
                Edit Recipe Title
            </label>
            <input id="recipeTitle" type="text" required
            placeholder="Recipe title"
            name="recipeTitle"
            #titleField="ngModel"
            [(ngModel)]="recipe.name"
            appRecipeEditTitleValidator
            [class.field-error]="form.submitted && titleField.invalid"
            >
            <div *ngIf="form.submitted && titleField.hasError('required')">
                Enter title
            </div>
            <div *ngIf="form.submitted && titleField.hasError('recipeTitleValidator')">
                Title must be unique. This title is already in use for other recipe
            </div>
        </div>
    </ng-template>

    <div class="form-group">
        <label for="recipeLink">
            Link to recipe *
        </label>
        <input type="text" placeholder="Link to recipe" required
        name="recipeLink"
        [(ngModel)]="recipe.source"
        #linkField="ngModel"
        [class.field-error]="form.submitted && linkField.invalid"
        >
        <div *ngIf="form.submitted && linkField.invalid">
            Enter link
        </div>
    </div>
    <div class="form-group">
        <label for="recipeImage">Link to image</label>
        <input type="text" placeholder="Link to image"
        #imageField="ngModel"
        name="recipeImage"  [(ngModel)]="recipe.img">
    </div>
    <div class="form-group">
        <label for="recipeRating">Rating</label>
        <input type="number" placeholder="Rate recipe on scale from 1 to 6"
        min="1" max="6" step="1"
        #ratingField="ngModel"
        pattern="^[-\d]\d*$"
        name="recipeRating"  [(ngModel)]="recipe.rating"
        [class.field-error]="form.submitted && ratingField.invalid"
        >
        <div *ngIf="form.submitted && ratingField.invalid">
            Enter integer between 1 and 6
        </div>
    </div>
    <button class="button form-button">Submit</button>
</form>

