<nav class="navbar">
  <div class="container container--navbar">
    <div class="navbar__info">
      <h1>Recipe Box App</h1>
      <h2 >Store links to recipes you want to try out!</h2>
    </div>
    <div class="navbar__buttons" *ngIf="showAddButton">
      <button class="button button--add" (click)="showForm()">Add new recipe</button>
      <button class="button" (click)="clearList()">Clear list</button>
      <button class="button" (click)="resetToDefault()">Reset to default recipes</button>
      <button class="button button--logout" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
