<div class="details__card">
    <div class="details__header" *ngIf='recipe'>
        {{recipe.name}}
        <a href="{{recipe.source}}">Link to recipe</a>
        <p>
            {{recipe.rating}}
        </p>
        <div class="recipe__image" style='background-image: url({{recipe.img}});'></div>
        <button class="back" (click)='onBack()'>Back to list</button>
        <button class="delete" (click)='onDelete(recipe.name)'>Delete</button>
        <button class="edit" (click)='showForm()'>Edit</button>
    </div>
</div>
<app-modal (addRecipeFromForm)="addRecipeFromForm(recipe!.name, $event)" >
</app-modal>