section {
    visibility: hidden;
    opacity: 0;

    &.open {
      visibility: inherit;
      opacity: 1;
    }

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms ease-in;

    > .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 450px;
      width: 300px;
      background: var(--white);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
      button{
        float: right;
        margin-bottom: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: var(--spacing-x-small);
        right: var(--spacing-x-small);
      }
    }
  }
