//colors, spacing
:root{
  --cyan: #3AAFA9;
  --cyan-grey: #2b7a78;
  --white: #def2f1;
  --black-pearl: #17252A;

  --spacing-x-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-big: 30px;
  --border-radius: 5px;

}
